body{background-color:#ededed;padding:0px;margin:0px;font-family:"Monaco","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;word-spacing:1px;}
img{border:0px;}
.left{float:left;}
.right{float:right;}
.radius{background:#fff;border-bottom: 1px solid #E4E5E7;border-radius: 5px 5px 5px 5px;border-right: 1px solid #E4E5E7;box-shadow: 1px 1px 2px rgba(102, 102, 102, 0.1);}
.blank10{clear:both;height:10px;font-size:0px;overflow:hidden;}
.blank20{clear:both;height:20px;}
.wrap{width:980px;margin:0 auto;}
.header{width:100%;height:50px;border-radius: 0px 0px 5px 5px;}
.header h2{height:50px;line-height:50px;float:left;margin:0px;padding:0px;padding-left:20px;}
.header span{height:50px;line-height:50px;display: inline-block;padding-right:20px;color:#d8d8d8;}
.header h2 a{background:url('../images/logo.jpg') no-repeat;background-position:0px 10px;display:inline-block;padding-left:40px;height:50px;line-height:50px;text-decoration: none;color:#fff;font-weight:700px;}
.black{background-color:#3e3e3e;}
.main{width:100%;padding-top:10px;}
.sidebar{width:250px;}
.side{width:230px;padding:10px;margin-bottom:10px;font-family:Tahoma; }
.side h2{margin:0 auto;font-size:14px;border-bottom:1px solid #ededed;height:30px;line-height:30px;}
.content{width:698px;margin-right:10px;display:inline;padding:10px;}
h2.first_title{margin:0px;padding:0px;height:50px;line-height:50px;border-bottom:1px solid #ededed;font-weight:900px;overflow:hidden;}
h2.first_title a{color:#000;text-decoration: none;}
h2.first_title a:hover{color:#009900;}
.posted_info{font-size:12px;color:#666;}
.postcontent{line-height:1.5;}
.content_h2{padding:10px 0px 10px 0px;border-bottom:1px solid #ededed;}
.content_pre{overflow:auto;background:#ededed;padding:10px;border-bottom: 1px solid #E4E5E7;border-radius: 5px 5px 5px 5px;border-right: 1px solid #E4E5E7;box-shadow: 1px 1px 2px rgba(102, 102, 102, 0.1);font-family:"Monaco","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;word-spacing:1px;line-height:1.5;font-size:14px;}
.prettyprint{overflow:auto;background:#ededed;padding:10px;border-bottom: 1px solid #E4E5E7;border-radius: 5px 5px 5px 5px;border-right: 1px solid #E4E5E7;box-shadow: 1px 1px 2px rgba(102, 102, 102, 0.1);font-family:"Monaco","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;word-spacing:1px;line-height:1.5;font-size:14px;}
.content_quote{margin:0px;overflow:auto;background:#ededed;padding:10px;border-bottom: 1px solid #E4E5E7;border-radius: 5px 5px 5px 5px;border-right: 1px solid #E4E5E7;box-shadow: 1px 1px 2px rgba(102, 102, 102, 0.1);}
.postshare{height:30px;padding-top:10px;border-top:1px solid #ededed;}
.page{color:#666;text-decoration:none;}
.page:hover{color:#009900;}
.news{}
.news h3{padding:0px;margin:0px;height:30px;line-height:30px;margin-bottom:10px;}
.index_lists{padding:10px;background:#ededed;margin-bottom:10px;}
.index_lists h4{margin:0px;padding:5px 0px 10px 0px;border-bottom:1px solid #ccc;}
.index_lists h4 a{font-size:16px;color:#444;text-decoration: none;}
.index_lists h4 a:hover{color:#009900;}
.index_lists h4 cite{float:right;font-size:12px;color:#666;}
.index_lists .index_des{border-top:1px solid #fefefe;padding-top:10px;color:#888;}
.index_lists .index_img{float:left;margin:0px 10px 10px 0px;width:180px;height:100px;overflow:hidden;background-color:#fefefe;border:1px solid #ccc;border-radius: 5px 5px 5px 5px;}
.index_ul{}
.index_ul li{height:30px;line-height:30px;border-bottom:1px dotted #ededed;}
.index_ul li span{float:right;font-size:12px;color:#666;}
.index_ul li a{text-decoration: none;color:#444;}
.index_ul li a:hover{text-decoration: underline;color:#009900;}
.links{}
.links h3{padding:0px;margin:0px;height:30px;line-height:30px;border-bottom:1px solid #ededed;}
.links ul{list-style: none;}
.links ul li{height:28px;line-height:28px;border-bottom:1px dotted #ededed;float:left;margin-right:10px;}
.links ul li a{color:#444;text-decoration: none;}
.links ul li a:hover{color:#009900;}
.postbox{width:940px;padding:10px 20px;}
.post_links{background-color:#ededed;padding:5px;}
.post_links h3{height:30px;line-height:30px;border-bottom:1px solid #fff;}
.post_links ul{}
.post_links ul li{height:24px;line-height:24px;border-bottm:1px dotted #fff;}
.post_links ul li a{color:#444;text-decoration:none;}
.post_links ul li a:hover{color:#009900;}
.side_ul{}
.side_ul li{height:24px;line-height:24px;}
.side_ul li a{text-decoration:none;color:#444}
.side_ul li a:hover{color:#009900;}
.side_ads{width:230px;margin-bottom:10px;}
.side_ads img{width:230px;}
.footer{clear:both;width:100%;height:50px;line-height:50px;text-align: center;margin-bottom:30px;color:#666;}
.footer a{text-decoration: none;color:#666;}
.footer a:hover{color:#009900;}

.directory{background-color:#e7e7e7;border:1px solid #ccc;padding:10px 20px;width:300px;}
.directory h4{margin:0px;padding:0px;height:30px;line-height:30px;border-bottom:1px solid #ccc;}
.directory ul{border-top:1px solid #fefefe;margin:0px;padding:0px;padding:10px 20px;list-style: none;}
.directory ul a{color:#EE7621;text-decoration: none;}
.directory ul a:hover{color:#EE7621;text-decoration: underline;}
.linkorg{color:#ee7621;}
