---
layout: default
title: 傅唯一的日志
---
{% assign first=site.posts.first %}
<h2 class="first_title"><a href="{{ site:baseurl  }}{{ first.url  }}" target="_blank">{{ first.title  }}</a></h2>
<p class="posted_info">posted by 傅唯一 on {{ first.date | date:"%Y-%m-%d"  }}</p>
<div class="news">
	<h3>列表({{ paginator.total_posts}})</h3>
	<ul>
		{% for post in paginator.posts %}
		<li><a href="{{ site:baseurl  }}{{ post.url  }}" target="_blank">{{post.title}} <cite>[{{ post.date | date:"%Y-%m-%d"  }}]</cite> </a></li>
		{% endfor  %}
	</ul>
	{% for post in paginator.posts %}
	<h4><a href="{{ site:baseurl  }}{{ post.url  }}" target="_blank">{{post.title}} <cite>[{{ post.date | date:"%Y-%m-%d"  }}]</cite> </a></h4>
	<div class="index_des">
	{% if post.summary %}
		{{ post.summary | strip_html | truncatewords:150 }}
	{% elseif post.description %}
		{{ post.description | strip_html | truncatewords:100 }}
	{% else%}
		{{ post.content | strip_html | truncatewords:100 }}
	{% endif %}
	</div>
	<p class="more"><a href="{{ site:baseurl }}{{ post.url }}" target="_blank">Read more...</a></p>
	{% endfor %}
	<div>
                {% if paginator.previous_page %}
		{% if paginator.previous_page>1  %}
                &laquo;&nbsp;<a href="{{ site:baseurl  }}/page{{ paginator.previous_page }}" class="page">Previous</a>
		{% else  %}
		&laquo;&nbsp;<a href="{{ site:baseurl  }}/" class="page">Previous</a>
		{% endif  %}
                {% endif %}
                {% if paginator.next_page %}
                <a href="{{ site:baseurl  }}/page{{ paginator.next_page  }}" class="page">Next</a>&nbsp;&raquo;
                {% endif %}
        </div>
</div>
