---
layout: default
title: 
---
{% assign first=site.posts.first %}
<h2 class="first_title"><a href="{{ site:url  }}{{ first.url  }}" target="_blank">{{ first.title  }}</a></h2>
<p class="posted_info">posted by 傅唯一 on {{ first.date | date:"%Y-%m-%d"  }}</p>
<div class="news">
	<h3>日志数({{ paginator.total_posts}})</h3>
	{% for post in paginator.posts %}
	<div class="index_lists radius">
		<h4><cite>[{{ post.date | date:"%Y-%m-%d"  }}]</cite><a href="{{ site:url  }}{{ post.url  }}" target="_blank">{{post.title}}</a></h4>
		<div class="index_des">
			<div class="index_img">
				{% if post.img %}
				<img src="{{ site:url }}/images/{{ post.img }}" alt="" />
				{% endif %}
			</div>
			{{ post.description }}
			<div class="blank10"></div>
		</div>
	</div>
	{% endfor %}
	<div class="index_page">
                {% if paginator.previous_page %}
		{% if paginator.previous_page == 1  %}
                &laquo;&nbsp;<a href="{{ site:url  }}/" class="page">Previous</a>
		{% else  %}
		&laquo;&nbsp;<a href="{{ site:url  }}/page{{ paginator.previous_page }}" class="page">Previous</a>
		{% endif  %}
                {% endif %}
                {% if paginator.next_page %}
                <a href="{{ site:url  }}/page{{ paginator.next_page  }}" class="page">Next</a>&nbsp;&raquo;
                {% endif %}
        </div>
</div>
