---
layout: default
title: 傅唯一的日志
---
<div class="news">
	<h3>所有日志({{ paginator.total_posts  }})</h3>
	<ul>
		{% for post in paginator.posts %}
		<li><a href="{{ site:baseurl  }}{{ post.url  }}" target="_blank">{{post.title}} <cite>[{{ post.date | date:"%Y-%m-%d"  }}]</cite> </a></li>
		{% endfor %}
	</ul>
	<div>
		{% if paginator.previous_page %}
		$laquo;$nbsp;<a href="/page{{ paginator.preious_page  }}" class="page">前一页</a>
		{% endif %}
		{% if paginator.next_page %}
		<a href="/page{{ paginator.next_page  }}" class="page">后一页</a>
		{% endif %}
	</div>
</div>
