<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }} 傅唯一的日志</title>
	<meta name="keywords" content="{{  page.keywords }}onlyfu,fuweiyi,blog,logs,博客"/>
	<meta name="description" content="傅唯一的博客，学习写作与工作生活记录" />
	<meta name="baidu-site-verification" content="7P3zJDwukPDw2LOy" />
	<meta name="viewport"content="width=device-width, initial-scale=1, minimum-scale=1,maximum-scale=1,user-scalable=no"/>
	<link href="/static/css/common.css" rel="stylesheet" type="text/css" />
	<link href="/static/prettify/prettify.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/favicon.ico"/>
	<link rel="bookmark" href="/favicon.ico"/>
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/prettify/prettify.js"></script>
	<script type="text/javascript" src="/static/js/common.js"></script>
</head>
<body>
<div class="container">
	<div class="v3_body">
		<!--
		<div class="header">
			<h1 class="blog-title">
				<img src="/images/logo.jpg" alt="傅唯一的日志" />
				<a href="/">傅唯一的日志</a>
				<small>认真你就赢了</small>
			</h1>
		</div>
		-->
		<div class="v3_header">
			<h1 class="v3_site_title">
				<a href="/">傅唯一的日志</a>
			</h1>
		</div>
