<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <meta name="keywords" content="onlyfu,fuweiyi,blog,logs,博客"/>
        <meta name="description" content="傅唯一的博客，学习写作与工作生活记录" />
        <link href="{{ site:url }}/css/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
        <div class="wrap">
		<div class="header radius">
			<h2><a href="{{ site:url  }}">傅唯一的日志</a></h2>
			<span class="right">如果您没有OUT，请使用Firefox,Chrome,Safari浏览本站</span>
		</div>
