<div class="side radius left">
	<h2>关于我(About Me)</h2>
        <img src="{{ site:baseurl }}/images/my01.jpg" alt="onlyfu" />
        <p class="name">傅唯一(onlyfu)(重庆)</p>
        <p class="des">
		毕业于南京工程学院
		</p>
        <p>EMAIL: fuwy[at]foxmail.com</p>
        <p>
        	<iframe src="http://follow.v.t.qq.com/index.php?c=follow&a=quick&name=onlyfu&style=1&t=1357828779690&f=1" frameborder="0" scrolling="auto" width="227" height="75" marginwidth="0" marginheight="0" allowtransparency="true"></iframe>
        </p>
</div>
