<div class="sidebar-module">
	<div class="side_ads">
		<a href="http://www.eebang.cn/goods/3692" target="_blank"><img src="http://www.eebang.cn/views/temp/ad003.jpg" alt="衣帮网" /></a>
	</div>
	<div class="side_ads">
		<a href="http://www.eebang.cn/goods/580" target="_blank"><img src="http://www.eebang.cn/views/temp/ad002.jpg" alt="衣帮网" /></a>
	</div>
	<div class="side_ads">
		<a href="http://www.eebang.cn/goods/2416" target="_blank"><img src="http://www.eebang.cn/views/temp/ad001.jpg" alt="衣帮网" /></a>
	</div>
</div>
