body{padding:0px;margin:0px;font-family:"Monaco","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;word-spacing:1px;color:#ccc;font-size:16px;background:url('../images/bg.png') no-repeat center top;background-color:#000;}

.v3_body{width:15.555rem;margin:0 auto;padding:0.222rem;}
.v3_header{}
.v3_site_title{color:#c8af00;font-size:1.155rem;}

.v3_blog_post{border:1px solid #222;margin-bottom:0.444rem;padding:0.222rem;background-color:#333;}
.v3_blog_post_title{padding:0;margin:0;padding-bottom:0.222rem;border-bottom:1px solid #2d2d2d;}
.v3_blog_post_title a{font-size:0.889rem;text-decoration:none;color:#55ff55;}
.v3_blog_post_meta{padding:0;margin:0;text-align:right;padding-top:0.222rem;border-top:1px solid #2d2d2d;}

.header{margin-bottom:80px;}
.header h1 a{color:#c8af00;}
.header h1 a:hover{text-decoration:none;}
.blog-main{font-size:18px;}
.blog-post{margin-bottom:60px;}
h2.blog-post-title{margin-bottom:25px;}
.blog-post-title{color:#55ff55;}
.blog-post-title a.blog-post-title-link{color:#55ff55;}
.blog-post-meta{text-align:right;color:#00b0cd;}
.list-unstyled li span{float:right;}
.sidebar-module{padding:15px;margin:0 -15px 15px;}
.sidebar-module-inset{padding:15px;background-color:#333;border-radius:4px;}
.sidebar-module-inset h4{border-bottom:1px solid #444;font-weight:700;padding-bottom:10px;}
.blog-footer{padding:40px 0;color:#999;border-top:1px solid #111;text-align:center;}
.pager li>a {background-color:#333;border:1px solid #444;}
.pager li>a:hover {background-color:#444;}
.panel{background-color:#333;border:1px solid #555;}
a.list-group-item{background-color:#555;color:#fff;}
.list-group-item{border:1px solid #444}

.content_h2{padding:10px 0px 10px 0px;border-bottom:1px solid #333;color:#00b0cd;}
.content_pre{overflow:auto;background:#333;padding:10px;border-bottom: 1px solid #E4E5E7;border-radius: 5px 5px 5px 5px;border-right: 1px solid #E4E5E7;font-family:"Monaco","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;word-spacing:1px;line-height:1.5;font-size:14px;}
.prettyprint{overflow:auto;background:#ededed;padding:10px;border-radius: 5px 5px 5px 5px;font-family:"Monaco","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;word-spacing:1px;line-height:1.5;font-size:14px;}

pre{border:1px solid #4f4f4f;}
