body{background-color:#000;padding:0px;margin:0px;font-family:"Monaco","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;word-spacing:1px;color:#ccc;font-size:16px;}
.header{margin-bottom:25px;}
.header h1 a{color:#c8af00;}
.header h1 a:hover{text-decoration:none;}
.blog-main{font-size:18px;}
.blog-post{margin-bottom:60px;}
h2.blog-post-title{margin-bottom:25px;}
.blog-post-title{color:#55ff55;}
.blog-post-title a.blog-post-title-link{color:#55ff55;}
.blog-post-meta{text-align:right;color:#00b0cd;}
.list-unstyled li span{float:right;}
.sidebar-module{padding:15px;margin:0 -15px 15px;}
.sidebar-module-inset{padding:15px;background-color:#333;border-radius:4px;}
.sidebar-module-inset h4{border-bottom:1px solid #444;font-weight:700;padding-bottom:10px;}
.blog-footer{padding:40px 0;color:#999;border-top:1px solid #111;text-align:center;}
.pager li>a {background-color:#333;border:1px solid #444;}

.content_h2{padding:10px 0px 10px 0px;border-bottom:1px solid #333;}
.content_pre{overflow:auto;background:#333;padding:10px;border-bottom: 1px solid #E4E5E7;border-radius: 5px 5px 5px 5px;border-right: 1px solid #E4E5E7;font-family:"Monaco","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;word-spacing:1px;line-height:1.5;font-size:14px;}
.prettyprint{overflow:auto;background:#ededed;padding:10px;border-bottom: 1px solid #E4E5E7;border-radius: 5px 5px 5px 5px;border-right: 1px solid #E4E5E7;font-family:"Monaco","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;word-spacing:1px;line-height:1.5;font-size:14px;}

