
pre.prettyprint {
    background-color: #333333;
    display: block;
}
pre .nocode {
    color: #000000;
}
pre .str {
    color: #FFA0A0;
}
pre .kwd {
    color: #F0E68C;
    font-weight: bold;
}
pre .com {
    color: #87CEEB;
}
pre .typ {
    color: #98FB98;
}
pre .lit {
    color: #CD5C5C;
}
pre .pun {
    color: #FFFFFF;
}
pre .pln {
    color: #FFFFFF;
}
pre .tag {
    color: #F0E68C;
    font-weight: bold;
}
pre .atn {
    color: #BDB76B;
    font-weight: bold;
}
pre .atv {
    color: #FFA0A0;
}
pre .dec {
    color: #98FB98;
}
ol.linenums {
    color: #AEAEAE;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 12px;
}
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: decimal;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
}
pre.prettyprint {
}
pre .str, code .str {
    color: #006600;
}
pre .kwd, code .kwd {
    color: #000066;
    font-weight: bold;
}
pre .com, code .com {
    color: #660000;
    font-style: italic;
}
pre .typ, code .typ {
    color: #440044;
    font-weight: bold;
}
pre .lit, code .lit {
    color: #004444;
}
pre .pun, code .pun {
    color: #444400;
}
pre .pln, code .pln {
    color: #000000;
}
pre .tag, code .tag {
    color: #000066;
    font-weight: bold;
}
pre .atn, code .atn {
    color: #440044;
}
pre .atv, code .atv {
    color: #006600;
}
