<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<meta name="keywords" content="onlyfu,fuweiyi,blog,logs,博客"/>
	<meta name="description" content="傅唯一的博客，学习写作与工作生活记录" />
	<link href="/css/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="wrap">
		<div class="header radius">
			<h2><a href="">傅唯一的日志</a></h2>
		</div>
		<div class="main">
			<div class="side radius left">
				<h2>关于我(About Me)</h2>
				<img src="images/my01.jpg" alt="onlyfu" />
				<p class="name">傅唯一(onlyfu)(重庆)</p>
				<p class="des">本站没有高深的东西，大多都是自己在学习过程中遇到的一些问题及自己的解决办法，主要是为了练习写作的能力。因为能力有限，如果有说得不对的地方，还忘能得到您的指点。</p>
				<p>EMAIL:fuwy[at]foxmail.com</p>
			</div>
			<div class="content radius left">
				{{ content}}
			</div>
		</div>
		<div class="blank20"></div>
		<div class="footer radius">
			&copy; 2012 DinLei. All Rights Reserved
		</div>
	</div>
</body>
</html>
